---
layout: default_3
---
<div>
  <div id="title">
  
    <h1>{{ page.title }}</h1>
    <span class="meta">{{ page.date | date_to_string}}</span>
    <p></p>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="tags">
    Tagged:
    {% for tag in page.tags %}
    <a href="/blog/tag/{{tag}}">{{tag}}</a> &nbsp;
    {% endfor %}
  </div>
  <p></p>

  <hr />
  
  <!-- the tweet button -->
  <p>
    <a href="https://twitter.com/share"  class="twitter-share-button" 
       data-url="http://sdimitro.github.io{{page.url}}">Tweet</a>
  </p>
  
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <!-- end of tweet button -->
</div>
